body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}


/*colors*/
/*@brand-primary : #c63d13;*/
/*// 666666*/

.color-mid {
    background-color: #666666;
}

/* styles for the form */
.css-form input.ng-invalid.ng-dirty {
    background-color: rgba(232, 120, 126, 0.25);
}

.css-form input.ng-valid.ng-dirty {
    background-color: rgba(160, 240, 136, 0.25);
}

.css-form input {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.control-label {
    border-color: #000000;
    /*border: solid;*/
}

/*used if a form entry has not been entered*/
.help {
    color: gray;
}

/* Override the button text styles */
.btn-link {
    color: #c63d13;
}

.btn-link:hover,
.btn-link:focus {
    color: #666666;
}

.asterisk {
    color: #C63D13;
    font-size: 18px;
}

.btn-brand {
    color: #FFFFFF;
    background-color: #C63D13;
}

.btn-brand:hover,
.btn-brand:focus {
    color: #FFFFFF;
    background-color: #852814;
    border-color: #852814;
}

/* Override the anchor text styles */
a {
    color: #c63d13;
    text-decoration: none;
}

a:hover {
    color: #666666;
    text-decoration: underline;
}

/* the padding creates a space between the border and content*/
.form-group {
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*border: 1px solid #C63DCC;*/
}

/* textarea */
.form-group textarea {
    width: 100%;

}

.jumbotron {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background: none;
    border: 1px solid #C63D13;
    /*background-color: #eeeeee;*/
    /*background-color:rgba(244, 187, 67, 0.15);*/
}

.form-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
    border-top: 1px solid #dddddd;
}

/*  navigation
    Added her most of the relavant classes
*/

/*for the badges*/
.badge {
    color: #C63D13;
    background-color: #fff;
}

.btn-success {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

a.badge:hover,
a.badge:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: none;
}

/*effects the color of the text inside the badge...*/
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
    color: #C63D13;
    background-color: #ffffff;
}

.nav > li > a {
    text-decoration: none;
    background-color:rgba(198,61,19,0.25);
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color:rgba(198,61,19,0.75);
}

.nav > li.disabled > a {
    color: #999999;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #ffff00;
    text-decoration: none;
    cursor: not-allowed;
    /*background-color: transparent;*/
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #428bca;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #FFFFFF;
    background-color: #C63D13;

}

/**/

.jumbotron h1,
.jumbotron .h1 {
    line-height: 1;
    color: inherit;
}

.jumbotron p,
.jumbotron .p {
    line-height: 1;
    color: inherit;
}

.jumbotron p {
    line-height: 1.4;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .container .jumbotron {
        padding-right: 20px;
        padding-left: 20px;
    }

    .jumbotron h1,
    .jumbotron .h1 {
        font-size: 63px;
    }
}

.container .jumbotron {
    border-radius: 6px;
}

.jumbotron .container {
    max-width: 100%;
}

.lead {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.4;
}

/* used by the tabbed content */
.border {
    border-radius: 0;
    border: 1px solid #dddddd;
    /*border-top: 1px solid #FFFFFF;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

