<div ng-include="'views/navbar.html'"></div>

<!--THE JUMBOTRON AND PTA SOCIAL DETAILS-->
<div ng-include="'views/header.html'"></div>

<div class="col-sm-12 border"
     ng-controller="formwizardCtrl"
     rc-wizard="sampleWizard"
     rc-disabled="rc.firstForm.submitInProgress">
<div class="well">
	<ul class="nav rc-nav-wizar">
		<li class="active">
			<a class="active"
			   href="#first"
			   data-toggle="tab"> <span class="badge">1</span> <span>New User</span> </a>
		</li>
		<li>
			<a href="#second"
			   data-toggle="tab"> <span class="badge">2</span> <span>New Community</span> </a>
		</li>
		<li>
			<a href="#third"
			   data-toggle="tab"> <span class="badge">3</span> <span>Information</span> </a>
		</li>
		<li>
			<a href="#last"
			   data-toggle="tab"> <span class="badge">4</span> <span>Check and Submit form</span> </a>
		</li>
	</ul>
</div>

<!--{"sampleWizard":{"currentIndex":0,"firstIndex":0,"navigationLength":3}},-->


<!--<div class="row well"><strong>Step {{rc.sampleWizard.currentIndex + 1 }} of {{ rc.sampleWizard.navigationLength }}</strong></div>-->


<div class="tab-content well">
<form class="tab-pane active css-form form-horizontal"
      id="first"
      name="firstForm"
      f9-attempt
      f9-submit="saveState()"
      rc-step
      novalidate
      role="form">
	<div class="form-group ">
		<div col-sm-4
		     col-sm-offset-2>
			<h4 class="text-center">PTA social form</h4>
		</div>
	</div>
	<!--USER NAME-->
	<div class="form-group">
		<label class="col-sm-2 control-label">User name</label>

		<div class="col-sm-10">
			<label class="form-control form-control-static">{{user.userName}}</label>
			<!--<input type="text" class="form-control" id="input1" placeholder="Input1">-->
		</div>
	</div>

	<!--FIRST NAME-->
	<div class="form-group"
	     ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.firstName)}">
		<label class="col-sm-2 control-label">First name</label>

		<div class="col-sm-10">
			<input name="firstName"
			       class="form-control"
			       type="text"
			       placeholder="What people call you..."
			       required
			       ng-model="user.firstName"/>
		</div>
	</div>


	<!--LAST NAME-->
	<div class="form-group"
	     ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.lastName)}">
		<label class="control-label col-sm-2"
		       asterisk>Last name</label>

		<div class="col-sm-10">
			<input name="lastName"
			       class="form-control"
			       type="text"
			       placeholder="Your family name.."
			       required
			       ng-model="user.lastName"/>
		</div>
	</div>


	<!--EMAIL-->
	<div class="form-group"
	     ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.email)}">
		<label class="control-label col-sm-2"
		       asterisk>Email</label>

		<div class="col-sm-10">
			<input name="email"
			       class="form-control"
			       type="email"
			       placeholder="name@site.com"
			       required
			       ng-model="user.email"/>
		</div>
	</div>

	<!--PHONENUMBER-->
	<div class="form-group"
	     ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.phoneNumber)}">
		<label class="control-label col-sm-2">Phone number</label>

		<div class="col-sm-10">
			<input name="phoneNumber"
			       class="form-control"
			       type="text"
			       placeholder="Your phone number is optional..."
			       ng-model="user.phoneNumber"
			       to-number/>
		</div>
	</div>

	<!--PASSWORD-->
	<div class="form-group"
	     ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.password)}">
		<label class="control-label col-sm-2"
		       asterisk>Password</label>

		<div class="col-sm-10">
			<input name="password"
			       class="form-control"
			       type="password"
			       placeholder="Your password..."
			       required
			       ng-model="user.password"/></div>
	</div>
</form>
<!-- SECOND FORM -->
<form class="tab-pane"
      id="second"
      name="secondForm"
      rc-submit
      rc-step
      form-horizontal
      role="form">
	<div col-sm-4
	     col-sm-offset-2>
		<h4 class="text-center">New Community</h4>
	</div>
	<!--community.url-->
	<div class="form-group"
	     ng-class="{'has-error': rc.secondForm.needsAttention(secondForm.communityUrl)}">
		<label class="control-label"
		       asterisk>Community URL</label> <input name="communityUrl"
		                                             class="form-control"
		                                             type="text"
		                                             ng-model="community.url"
		                                             name="url"
		                                             placeholder="www.myPTA.org"
		                                             required/>
		<small>Every community has it’s own web address where members can both register and sign in to access their PTA
			events, activities and discussions.
		</small>

	</div>
	<!--community.communityRole-->
	<div class="form-group"
	     ng-class="{'has-error': rc.secondForm.needsAttention(secondForm.communityRole)}">
		<label class="control-label">Role in Parents Association</label> <select name="communityRole"
		                                                                         class="form-control"
		                                                                         ng-model="community.role">
		<option ng-repeat="role in community.roles">{{role}}</option>
	</select>

	</div>
	<!--COMMUNITY.NAME-->
	<div class="form-group"
	     ng-class="{'has-error': rc.secondForm.needsAttention(secondForm.communityName)}">
		<label class="control-label">Parents Association Name</label> <input name="communityName"
		                                                                     class="form-control"
		                                                                     type="text"
		                                                                     ng-model="community.name"
		                                                                     placeholder="Your school's name"
		                                                                     required/>
	</div>
	<!-- COMMUNITY.SCHOOLNAME -->
	<div class="form-group"
	     ng-class="{'has-error': rc.secondForm.needsAttention(secondForm.communitySchoolName)}">
		<label class="control-label">School's Name</label> <input name="communitySchoolName"
		                                                          class="form-control"
		                                                          type="text"
		                                                          ng-model="community.schoolName"
		                                                          placeholder="Your school's name"
		                                                          required/>
	</div>
	<!-- COMMUNITY.SCHOOLTOWN -->
	<div class="form-group"
	     ng-class="{'has-error': rc.secondForm.needsAttention(secondForm.communitySchoolTown)}">
		<label class="control-label">School's Town</label> <input name="communitySchoolTown"
		                                                          class="form-control"
		                                                          type="text"
		                                                          ng-model="community.schoolTown"
		                                                          placeholder="Where your school is located..."
		                                                          required/>
	</div>
	<!-- COMMUNITY.COUNTRY -->
	<div class="form-group"
	     ng-class="{'has-error': rc.secondForm.needsAttention(secondForm.communityCountry)}">
		<label class="control-label">School Location</label> <select class="form-control"
		                                                             ng-model="community.country"
		                                                             required>
		<option ng-repeat="country in community.countries">{{country}}</option>
	</select>
	</div>
	<!-- PUPIL NUMBERS -->
	<div class="form-group"
	     ng-class="{'has-error': rc.secondForm.needsAttention(secondForm.communityPupilNumber)}">
		<label class="control-label">The number of pupils in your School</label> <select class="form-control"
		                                                                                 ng-model="community.pupilnumber"
		                                                                                 required>
		<option ng-repeat="numbers in community.pupilnumbers">{{numbers}}</option>
	</select>
	</div>
</form>
<!--OPTIONAL INFORMATION-->
<form class="tab-pane"
      id="third"
      name="thirdForm"
      rc-step
      form-horizontal
      role="form">
	<div col-sm-4
	     col-sm-offset-2>
		<h4 class="text-center">Optional Information</h4>
	</div>
	<!--USER INFO-->
	<div class="form-group">
		<label class="control-label">Where did you hear about PTAsocial?</label> <select class="form-control"
		                                                                                 ng-model="info.informationSource">
		<option ng-repeat="source in info.informationSources">{{source}}</option>
	</select>
	</div>
	<!-- OPTIONAL MESSAGE FOR PTASOCIAL TEAM-->
	<div class="form-group">
		<label class="control-label"
		       placeholder="Your feedback is valued..">Optional Message for PTAsocial Team</label>

		<div>
			<textarea id="message"
			          ng-model="info.message"
			          name="message"></textarea>
		</div>
	</div>

	<!-- BLOG SUBSCRIPTION -->

	<div>
		<label class="control-label">Blog subscription</label>

		<div>
			<div ng-repeat="choice in info.choices">
				<input type="radio"
				       name="taskGroup"
				       ng-model="$parent.info.blogChoice"
				       value="{{choice}}"> {{choice}}
			</div>

		</div>
	</div>
</form>
<form class="tab-pane"
      id="last"
      name="lastForm"
      rc-submit="completeWizard()"
      rc-step
      form-horizontal
      role="form">

	<div col-sm-4
	     col-sm-offset-2>
		<h4 class="text-center">Final checking</h4>
		<p>Check the information below is correct. If you want to make changes use the 'Back' button and edit entries.</p>
	</div>
	<div class="well col-sm-12" style="margin-top:25px">
		<br />
		<div class="form-group col-sm-12">
			<label class="control-label col-sm-3">First Name:</label>

			<p class="form-control-static col-sm-9">{{ user.firstName }}</p>
		</div>

		<div class="form-group col-sm-12">
			<label class="control-label col-sm-3">Last Name:</label>

			<p class="form-control-static col-sm-9">{{ user.lastName }}</p>
		</div>

		<div class="form-group col-sm-12">
			<label class="control-label col-sm-3">Email:</label>

			<p class="form-control-static col-sm-9">{{ user.email }}</p>
		</div>

		<div class="form-group col-sm-12">
			<label class="control-label col-sm-3">Phone Number:</label>

			<p class="form-control-static col-sm-9">{{ user.phoneNumber }}</p>
		</div>

		<!--user.password-->
		<div class="form-group col-sm-12">
			<label class="control-label col-sm-3">Password:</label>

			<p class="form-control-static col-sm-9">{{ user.password }}</p>
		</div>

		<!--pta details-->
		<div class="form-group col-sm-12">
			<label class="control-label col-sm-3">Your Community Details</label>

			<div class="col-sm-9 form-control-static">
				{{ community.name }} <br/> {{community.schoolName }} <br/> {{community.url}} <br/> {{community.pupilnumber}}
				<br/> Your role: {{ community.role }} <br/> Loacation: {{ community.schoolTown }}, {{ community.country }}

			</div>
		</div>
		<!--INFO DETAILS-->
		<div class="form-group col-sm-12">
			<label class="control-label col-sm-3">Info</label>

			<p class="form-control-static col-sm-9">
				{{ info.informationSource }} <br/> {{ info.message}} <br/> Blog subscription... {{info.blogChoice}}
			</p>
		</div>
	</div>
</form>
</div>
<div class="well col-sm-12">
	<div class="form-group">
		<div class="pull-right">
			<a class="btn btn-default"
			   ng-click="rc.sampleWizard.backward()"
			   ng-show="rc.sampleWizard.currentIndex > rc.sampleWizard.firstIndex">Back</a> <a class="btn btn-brand"
			                                                                                   data-loading-text="Please Wait..."
			                                                                                   ng-click="rc.sampleWizard.forward()"
			                                                                                   ng-show="rc.sampleWizard.currentIndex < rc.sampleWizard.navigationLength">Continue</a>
			<a class="btn btn-brand"
			   ng-click="rc.sampleWizard.forward()"
			   ng-show="rc.sampleWizard.currentIndex == rc.sampleWizard.navigationLength">Complete</a>
		</div>
	</div>
</div>
</div>