<div class="jumbotron">
    <h4 style="color: #C63D13">Create a new community on PTAsocial</h4>

    <p class="lead">
        Hurrah! You’re about to save hours of hassle micro-managing your school PTA volunteers! Fill in this quick form,
        and then verify your email address to get your parents association a FREE PTAsocial online volunteering account
        right away.
    </p>
</div>