<!--THE NAVIGATION-->
<div ng-include="'views/navbar.html'"></div>

<!--THE JUMBOTRON AND PTA SOCIAL DETAILS-->
<!--<div ng-include="'views/header.html'"></div>-->

<!--USING WELLS HERE FOR THE DESIGN...-->
<!--TESTING THE LOGIN VALIDATION-->
<div class="well" collapse="isCollapsed">
    <div class="row">
        <div ng-hide="true">
            <p>f9.loginForm.attempted: {{ f9.loginForm.attempted}}</p>
            <p>Username valid: {{ loginForm.username.$valid}}</p>
            <p>Password valid: {{ loginForm.email.$valid}}</p>
            <p>session.username: {{ session.username}}</p>
            <p>session.email: {{ session.email}}</p>
        </div>
        <form name="loginForm"
              class="cssForm"
              novalidate
              f9-attempt
              f9-submit="login()">
            <div class="form-group"
                 ng-class="{'has-error': loginForm.username.$invalid && (loginForm.username.$dirty || f9.loginForm.attempted)}">
                <label class="control-label"> Username:</label>
                <input class="form-control"
                       name="username"
                       type="text"
                       placeholder="Username"
                       required
                       ng-model="session.username"/>
       <span class="help-block"
             ng-show="loginForm.username.$error.required && f9.loginForm.attempted"><small>A valid username is required</small></span>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': loginForm.email.$invalid && (loginForm.email.$dirty || f9.loginForm.attempted)}">
                <label class="control-label"> Email:</label>
                <input class="form-control"
                       name="email"
                       type="email"
                       placeholder="name@email.com"
                       required
                       ng-model="session.email"/>
       <span class="help-block"
             ng-show="loginForm.password.$error.required && f9.loginForm.attempted"><small>A valid email is required</small></span>
            </div>
            <div class="form-group">
                <button type="submit"
                        class="btn btn-brand pull-right"
                        value="Login"
                        title="Login"
                       >
                    <span>Login</span>
                </button>
            </div>
        </form>
    </div>
</div>
<div class="well" collapse="!isCollapsed">
    <div class="row">
        <p>Wait for the validation to appear in your email box for: <br /><br />Username: {{data.username}}, Email: {{
            data.email }}</p>
    </div>
</div>
