<div class="header"
     ng-controller="NavbarCtrl">
    <ul class="nav nav-pills pull-right">
        <li ng-repeat="item in menu"
            ng-class="{active: isActive(item.link)}">
            <button type="button"
                    class="btn btn-lg btn-link"
                    btn-link
                    ng-href="{{item.link}}">{{item.title}}</a>
            </button>
    </ul>
    <h3 class="text-muted"> PTAsocial</h3>
    <!--<img src="images/logo4.png" alt="PTASocial">-->
</div>
</div>