<div class="col-sm-12">
    <div>
        <p></p>
        <p class="lead">We send our PTA community managers a monthly product update, with latest features, special offers or news from other PTAs using PTAsocial. You can unsubscribe any time. By submitting this form you agree to our <a href="#">terms</a> and <a href="#">privacy policy</a></p>
    </div>
</div>
